.image {
  width: 36vw;
  height: auto;
}
.project {
  background-color: rgb(249, 249, 249);
  a {
    display: block;
    text-align: center;
    text-decoration: none;
  }
}
.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1em;
  padding: 4px;
}
