.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(61, 72, 73, 0.7);
  position: sticky;
  top: 0;
  p,
  a {
    color: rgb(249, 249, 249);
    padding: 2vw 200px;
    text-decoration: none;
    &:hover {
      background-color: rgb(249, 249, 249);
      color: rgb(61, 72, 73);
      cursor: pointer;
    }
  }
}
